h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;
    color: #081F5C;
    background: #D0E3FF;

    margin: 0;
    padding: 0;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    max-width: 1500px;
    width: 100%;
    margin: 20px auto;
}

.header {
   text-align: center; 
   font-size: 30px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}

.form-control {
    width: 100%;
    padding: 8px;
    font-size: 17px;
    color: #081F5C;
   
    outline: none; 
    border-radius: 9px; 
    border-width: 0.5px;
    border-color: #081F5C;

}

.btn {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.total-price {
    padding-top: 10px;
    font-weight: bold;
}